<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">
  <!-- 配置当前web应用的初始化参数 -->
  <context-param>
  	<param-name>user</param-name>
  	<param-value>wgb</param-value>
  </context-param>
  <context-param>
  	<param-name>password</param-name>
  	<param-value>123</param-value>
  </context-param>
  
  
  <!-- 配置和映射Servlet -->
  <servlet>
  	<servlet-name>HelloServlet</servlet-name>
  	<servlet-class>com.wgb.java.HelloServlet</servlet-class>
  	<!-- 配置初始化参数 -->
  	<!-- 配置 Serlvet 的初始化参数。 且节点必须在 load-on-startup 节点的前面 -->
  	<init-param>
  		<param-name>user</param-name>
  		<param-value>root</param-value>
  	</init-param>
  	<init-param>
  		<param-name>password</param-name>
  		<param-value>123</param-value>
  	</init-param>
  	<!-- 指定Servlet被创建的时机 -->
  	<load-on-startup>1</load-on-startup>
  </servlet>
   <servlet-mapping>
  	<servlet-name>HelloServlet</servlet-name>
  	<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.wgb.java.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>



</web-app>
