@CHARSET "UTF-8";
body {
	background: url("/Blog/img/backgroundimg/time.jpg");
}
.admin_div{
	margin-top:20px;
	margin-bottom:20px;
	padding-top:30px;
	padding-bottom:30px;
}

button{
	border:1px;
	margin_top:10px;
}


input[ disabled ]{
	background-color:white;	
}